pandas==2.2.2
numpy==1.26.4
rapidfuzz==3.9.6
beautifulsoup4==4.12.3
python-dateutil==2.9.0
PyMuPDF==1.24.9
spacy==3.7.5
phonenumbers==8.13.43
sentence-transformers 
scikit-learn
fastapi 
uvicorn 
python-multipart
sqlalchemy
psycopg2-binary